@import '../../GlobalStyles/BreakPoints.scss';
@import '../../GlobalStyles/Variables.scss';
header.header {
    background-color: $secondary-light-color;
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 65px;
        .logo {
            font-size: 16==20px;
            position: absolute;
            left: 10px;
            color: $primary-dark-color;
            font-weight: 700;
            text-transform: uppercase;
            min-width: fit-content;
            letter-spacing: -1px;
        }
        .search {
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            background: $primary-color;
            border-radius: 6px 0 0 6px;
            width: 43px;
            padding: 10px;
            box-shadow: 0px 0px 10px 1px $white-color;
            z-index: 99;
            transition: all .5s ease-in-out;
            svg {
                color: $white-color;
                cursor: pointer;
                &.rotate {
                    animation: rotates 2s forwards;
                }
            }
            &.open {
                position: absolute;
                width: 320px;
                max-width: 100%;
                top: 10px;
                right: 10px;
            }
            &::before {
                content: '';
                position: absolute;
                height: 53px;
                width: 8px;
                background-color: $primary-dark-color;
                top: -5px;
                right: 0;
                border-radius: 4px;
                transition: all .5s ease-in-out;
            }
            &.open::before {
                width: 3px;
                height: 100%;
                top: 0;
            }
            input {
                width: 100%;
                background-color: transparent;
                caret-color: $white-color;
                color: $white-color;

                &::placeholder {
                    color: $secondary-light-color;
                }
            }
        }
        .filltering {
            position: absolute;
            left: 0;
            bottom: 0px;
            transform: translateY(100%);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            background-image: linear-gradient(to bottom, $secondary-light-color, transparent);
            width: 100%;
            z-index: 90;
            @include sm {
                right: 100px;
                width: fit-content;
                left: unset;
                bottom: unset;
                transform: translateY(0);

            }
            .categories {
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: bold;
                color: $primary-color;
                background-image: linear-gradient(to bottom, $secondary-light-color, transparent);
                padding: 2px 5px;
                border-radius: 6px;
                text-transform: capitalize;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: $secondary-light-color;
                }
            }
            .open-map {
                background-image: linear-gradient(to bottom , $secondary-light-color, transparent);
                color: $primary-dark-color;
                border-radius: 6px;
                font-size: 16px;
                padding: 2px 5px;
                text-transform: capitalize;
                font-weight: bold;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: $secondary-light-color;
                }
                @include md {
                    display: none;
                }
            }
        } 
    }
}

@keyframes rotates {
    20% {
        transform: rotate(45deg) ;
    }
    40% {
        transform: translateX(-10px)  rotate(45deg);
    }
    45% {
        transform: translateX(9px) rotate(45deg) ;
    }
    50% {
        transform: translateX(-9px) rotate(45deg) ;
    }
    55% {
        transform: translateX(8px) rotate(45deg) ;
    }
    60% {
        transform: translateX(-8px) rotate(45deg) ;
    }
    65% {
        transform: translateX(7px) rotate(45deg) ;
    }
    70% {
        transform: translateX(-7px) rotate(45deg) ;
    }
    75% {
        transform: translateX(6px) rotate(45deg) ;
    }
    80% {
        transform: translateX(-6px) rotate(45deg) ;
    }
    85% {
        transform: translateX(5px) rotate(45deg) ;
    }
    90% {
        transform: translateX(-5px) rotate(45deg) ;
    }
    95% {
        transform: translateX(3px) rotate(45deg) ;
    }
    100% {
        transform:  translateX(0px) rotate(0deg);
    }

}